html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*reset css above))*/
@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/commissioner-v3-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/commissioner-v3-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* commissioner-700 - latin */
  @font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/commissioner-v3-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/commissioner-v3-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body{
    font-family: 'Commissioner';
    background: #F2F2F2;
    max-width: 1440px;
}
.header_image{
    background-image: url(../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    height: 400px;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-left: 166px;
    background: linear-gradient(180deg, #000000 0%, rgba(134, 50, 50, 0.006) 100%);
    
}

.navitems{
    list-style-type: none;
    color: #fff;
    display: flex;
    padding-right: 165px;
}
.navitem{
    margin-left: 32px;
}
.navitem a{
    text-decoration: none;
    color:#fff;
}
.navitem a:hover{
    text-decoration: underline;
}
.container{
    margin: 0px auto;
    width: 730px;
}
.mastercraft{
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: -92px;
    background-color: #fff;
    margin-bottom: 24px;
}
.mastertitle p{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 15px;
}
.masterdesc p{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #7A7A7A;
}
.littlelogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    margin-top: -28px;
}
.btns{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}
.btnback{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3CB3AB;
    border-radius: 40px;
    background-color: #3CB3AB;
    width: 204px;
    height: 56px;
    margin-right: 256px;
}
.btnback a{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.btnback:hover{
    border: 1px solid #147A73;
    background-color: #147A73;
}
.btnbookmark{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 40px;
    background-color: #F2F2F2;
    width: 174px;
    height: 56px;
}
.btnbookmark:hover{
    opacity: 0.7;
}
.btnbookmark a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #7A7A7A;
    position: absolute;
    padding-bottom: 40px;

}
.btnbookmark a::before{
    content:url('../images/icon-bookmark.svg'); /* with class ModalCarrot ??*/
    position:relative;
    left:-20px;
    top: 20px;
}
.stat{
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 24px;

}
.digits{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 48px;
    margin-top: 48px;
}

.stathigh{
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 8px;
}
.statlow{
    font-size: 15px;
    line-height: 18px;
    color: #7A7A7A;
}
.divider{
    height: 63px;
    border-left: 1px solid #000;
    margin-right: 47px;
    margin-left: 40px;
    opacity: 0.15;
}
.statline{
    margin-top: 37px;
    width: 634px;
    height: 12px;
    background-color: #F2F2F2;
    margin-left: 48px;
    border-radius: 20px;
    margin-bottom: 48px;
}
.statline-colored{
    width: 496px;
    height: 12px;
    background-color: #3CB3AB;
    border-radius: 20px;
}
.long{
    border: 2px solid rgba(0, 0, 0, 0.0497193);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 24px;
}
.about-content{
    margin: 48px;
}
.abouttitle{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}
.abouttext{
    font-size: 16px;
    line-height: 30px;
    color: #7A7A7A;
    margin-top: 35px;
}
.product-info{
    margin-top: 40px;
    border: 2px solid rgba(0, 0, 0, 0.0497193);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
}
.product-header{
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
}
.product-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}
.product-cost{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #3CB3AB;
}
.product-desc{
    margin-top: 24px;
    font-size: 16px;
    line-height: 30px;
    color: #7A7A7A;
    padding: 0px 32px;
}
.product-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 32px;
    padding-top:24px;
    padding-bottom:32px;
}
.qty{
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin-right: 8px;
}
.qtytext{
    font-size: 15px;
    line-height: 18px;
    color: #7A7A7A;
    margin-right: 330px;
}
.btnproductget{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3CB3AB;
    border-radius: 40px;
    background-color: #3CB3AB;
    width: 157px;
    height: 48px;
}
.btnproductget a{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.btnproductget:hover{
    border: 1px solid #147A73;
    background-color: #147A73;
}
.product-title-inactive{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    opacity: 0.5;
}
.product-cost-inactive{
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #3CB3AB;
    opacity: 0.5;
}
.product-desc-inactive{
    margin-top: 6px;
    font-size: 16px;
    line-height: 30px;
    color: #7A7A7A;
    padding: 0px 32px;
    opacity: 0.5;
}
.product-footer-inactive{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 32px;
}
.qty-inactive{
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    margin-right: 8px;
    opacity: 0.5;
}
.qtytext-inactive{
    font-size: 15px;
    line-height: 18px;
    color: #7A7A7A;
    margin-right: 330px;
    opacity: 0.5;
}
.btnproductget-inactive{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #7A7A7A;
    border-radius: 40px;
    background-color: #7A7A7A;
    width: 157px;
    height: 48px;
    opacity: 0.5;
}
.btnproductget-inactive a{
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}